[Unit]
Description=WiFi Link Quality Stats Process
After=onewifi.service
Requires=onewifi.service

[Service]
Type=forking
PIDFile=/var/tmp/linkquality_stats.pid
LimitSTACK=4096K
WorkingDirectory=/usr/ccsp/linkquality_stats
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
EnvironmentFile=/etc/device.properties
ExecStart=/bin/sh -c '/usr/bin/linkquality_stats -subsys $Subsys'
ExecStopPost=/bin/sh -c 'echo "`date`: Stopping/Restarting linkquality_stats" >> ${PROCESS_RESTART_LOG}'
TimeoutStartSec=120
Restart=always
Environment="LD_PRELOAD=/usr/lib/libmemfnswrap.so.0"

[Install]
WantedBy=multi-user.target
